body{
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    background-color: beige;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #302216;
    min-height: 7rem;
    
    flex-wrap: wrap;
}

header > h1{
    margin-left: 20px;
    color: white;
}

.menu-principal{
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 1;
}
.menu-principal a:hover{
    color: chocolate;
    text-decoration:underline;
}

.menu-principal > a{
    margin: 20px;
    color: white;
}
.conteudo{
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    min-height: 400px;
}


.conteudo1{
    display: flex;
    margin: 10px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
    overflow: hidden;
}

.cafe-gif{
    height: 400px;
    width: 450px;
    border-radius: 16%;
    margin-left: auto;
}

.descrition{
    min-height: 400px;
    min-width: 25rem;
    max-width: 35rem;
    font-size: 23px;
    font-style: italic;
    margin-right: 20px;
    margin-left: 20px;
}

/* Aqui começa o segundo Conteudo*/

.conteudo2{
    display: flex;
    min-height: 60vh;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #302216;
}

.marcas{
    width: 300px;
    margin: 20px;
}
.marcas p{
    color: beige;
    font-style: italic;
}
.options{
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 100px;
    background-color: chocolate;
}
.options a{
    color: beige;
}
.options:hover {
    background-color: black;
}

/* Aqui começa o Terceiro Conteudo*/

.conteudo3{
    text-align: center;
    margin: 20px;
}
.conteudo3 h2{
    font-style: italic;
}
.img-selos{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.selos img{
    width: 200px;
    text-align: center;
}

figcaption{
    text-align: center;
}

/* Rodapé*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #302216;
    height: 100px;
    color: beige;
}