body{
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    background-color: beige;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #302216;
    flex-shrink: 1;
    height: 100px;
}
header > h1{
    margin-left: 20px;
    color: white;
}
.menu-principal > a{
    margin: 20px;
    color: white;
}
.conteudo{
    display: flex;
    align-content: center;
    flex-flow: column wrap;
}
.conteudo > h2{
    text-align: center;
    font-size: 30px;
}

.conteudo-primario{
    display: flex;
    width: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cafe-gif{
    height: 350px;
    width: 400px;
    border-radius: 20%;
    margin-left: 10px;
}
.descrition{
    height: 350px;
    max-width: 600px;
    min-width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
    font-style: italic;
}

.conteudo-secundario{
    display: flex;
    height: 500px;
    background-color: aliceblue;
    flex-direction: row;
}
.conteudo-secundario > img{
    height: 300px;
    width: 300px;
}
.conteudo-secundario >.img-size{
    height: 600px;
}