body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    background-color: blue;
    height: 70px;
}
button{
   background-color: cornflowerblue;
    cursor: pointer;
    width: 85px;
    height: 40px;
    border: 0;
    font-family: Arial-black;
    font-size: 18px;
    text-shadow: 1px 1px 5px grey;
    box-shadow: 2px  3px 5px black;
}
ul{
    list-style: none;
    z-index: 1;
}
li{
    padding: 3px;
    background-color:dimgrey;
    cursor: pointer;
    
}
ul:hover > li{
    opacity: 5;
}
li:hover{
    background-color: yellowgreen;
}
main{
    background-color: antiquewhite;
    height: 100vh;

}
img{
    width: 80%;
    height: 200px;
    background-color: aquamarine;
}